fakturki/CompaniesSchema.xml

<?xml version="1.0" encoding="utf-8"?>  
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  
  attributeFormDefault="unqualified"   
  elementFormDefault="qualified"  
  targetNamespace="CompaniesSchema">   
  <xs:element name="Companies">  
    <xs:complexType>  
      <xs:sequence>  
        <xs:element maxOccurs="unbounded" name="Company">  
          <xs:complexType>  
            <xs:sequence>  
              <xs:element name="name" type="xs:string" />  
              <xs:element name="city" type="xs:string" />  
               <xs:element name="post_code" type="xs:int" />  
              <xs:element name="street" type="xs:string" />  
            </xs:sequence>  
            <xs:attribute name="NIP" type="xs:int" use="required" />  
          </xs:complexType>  
        </xs:element>  
      </xs:sequence>  
    </xs:complexType>  
  </xs:element>  
</xs:schema>  



